* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    max-width: 100%;   
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.col-25 {
    width: 25%;
    background-color: #e2a50b;
    border: 2px dashed black;
}

.col-50 {
    width: 50%;
    background-color: #e2a50b;
    border: 2px dashed black;
    text-align: center;
}

ul {
    list-style-type: none;
}

li {
    display: inline-block;
}

.lightblue {
    background-color: lightblue;
    padding: 10px 200px 10px 200px;
}